<h1>Home</h1>

<h1>Login</h1>
<div class="well">
<%=form_tag log_in_path do%>
<%=label_tag :email %>
<%=text_field_tag :email %><br>
<%=label_tag :password %>
<%=password_field_tag :password %><br>
<%=submit_tag "Login", :class => "btn btn-warning"  %>
<%end%>
</div>
<%= link_to "Sign Up", new_user_path, :class => "btn btn-warning" %>
