<h1>Welcome</h1>
<%= link_to "Add New Product", new_clothing_path %>

<h3>Clothing</h3>

<div class="well-white">

<% if @clothings.any? %>
<% @clothings.each do |clothing| %>

   <div class="image-box well">
     <%= link_to image_tag(clothing.image.url, :class => "image-size"), clothing_path(clothing) %>
     <span class="clothing-text "><%= link_to clothing.name, clothing_path(clothing) %></span><br>
     <span class="body-text ">Uploaded by <%= clothing.user.first_name %> <%= clothing.user.last_name %></span><br>
     <span class="body-text "><%= time_ago_in_words(clothing.created_at, :class => "time_ago" ) %> ago</span>
   </div>

 <% end %>
 <% else %>
<p>
  There are no clothings
</p>
<% end %>
</div>
<br>
<div class ="bar"></div>
