
<div class="well">
  <h1>Name: <%= @clothing.name %></h1><br>
  <h5>Details: <%= @clothing.details %></h5>
  <h5>Price: <%= @clothing.price %></h5>
</div>

<% if @clothing.comments.any? %> <!-- Finds all comments -->
      <h3>Comments</h3>
  <ul>
    <% @clothing.comments.each do |comment| %> <!-- Loop displays all comments -->
      <li>
        <div class="well">
        <span class="clothing-text"><%= comment.content %></span>
        <%= link_to "Edit", edit_clothing_comment_path(@clothing, comment) %> |
        <%= link_to "Delete", clothing_comment_path(@clothing, comment),:data => {:confirm => "Are you sure?",:method => "delete"} %>
      </li>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>There are no comments yet!</p>
  </div>
<% end %>


<hr>
<%= link_to "Edit Clothing", edit_clothing_path %> |
<%= link_to "Delete Clothing",  clothing_path(@clothing),  :data => {:confirm => "Are you sure?",:method => "delete"} %> |
<%= link_to "New Comment", new_clothing_comment_path(@clothing) %>
